<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>956531075376-kp7edkttjmaksv36rt5vbunlp6mfqnku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.956531075376-kp7edkttjmaksv36rt5vbunlp6mfqnku</string>
	<key>API_KEY</key>
	<string>AIzaSyCxTbX_FSXIR1G_M64YnBK7WuFtqQUyBfg</string>
	<key>GCM_SENDER_ID</key>
	<string>956531075376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.palipa.dormApp</string>
	<key>PROJECT_ID</key>
	<string>dorm-app-261c5</string>
	<key>STORAGE_BUCKET</key>
	<string>dorm-app-261c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956531075376:ios:1b0c85dd1842be914540f5</string>
</dict>
</plist>